{% extends 'base.html.twig' %}

{% block title %}Société{% endblock %}

{% block body %}
    <h1>Société</h1>
    <table class="table">
    {% for societe in societes %}
    <tr>
        <td>
            <h4><a href="{{ path('societe_show', {'id': societe.id}) }}">{{ societe.nom }}</a></h4>
        </td>
    </tr>
    {% else %}
        <tr>
            <td colspan="9">no records found</td>
        </tr>
    {% endfor %}
    </table>
{% if societes is not empty %}
    {% else %}
    <a href="{{ path('societe_new') }}" class="btn btn-success m-3"><i class="fa fa-plus"></i></a>
    {% endif %}

{% endblock %}
