{% extends 'base.html.twig' %}

{% block title %}Liste des devis{% endblock %}

{% block navbarTitle %} <span>Devis</span>{% endblock %}
{% block body %}
    <table class="table">
    {% for devis in devis %}

    <tr>
        <td>
            <h4><a href="{{ path('devis_show', {'id': devis.id}) }}">{{ devis.numDevis }}</a></h4>
            <span>{{ devis.dateCrea ? devis.dateCrea|date('d-m-Y à h:i') : '' }}</span>
        </td>
    </tr>

    {% endfor %}
    </table>
    <a class="btn btn-primary" href="{{ path('devis_new') }}"><i class="fa fa-plus"></i></a>
{% endblock %}
