{% extends 'base.html.twig' %}

{% block title %}Nouveau Devis{% endblock %}
{% block navbarTitle %}Nouveau Devis{% endblock %}

{% block body %}
    <h1 class="text-center">Nouveau devis</h1>

    {{ include('devis/_form.html.twig') }}




{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/getProducts.js') }}"></script>
{% endblock %}