{% extends 'base.html.twig' %}

{% block title %}New Devis{% endblock %}

{% block body %}
    <h1>Create new Devis</h1>

    {{ include('devis/_form.html.twig') }}

    <div id="questions">

    </div>
    <button class="submitButton">valider</button>




    <a href="{{ path('devis_index') }}">back to list</a>

{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/getProducts.js') }}"></script>
{% endblock %}