{% extends 'base.html.twig' %}

{% block title %}Clients{% endblock %}

{% block body %}

        {% for customer in customers %}
            <table class="table">
                <tr>
                    <td>
                        <h4><a href="{{ path('customers_show', {'id': customer.id}) }}">{{ customer.name }}</a></h4>
                        <span>{{ customer.email }}</span>
                    </td>
                </tr>
            </table>
            {% else %}
            <p>Aucun client</p>
        {% endfor %}


    <a class="btn btn-primary" href="{{ path('customers_new') }}"><i class="fa fa-plus"></i></a>
{% endblock %}
