{% extends 'base.html.twig' %}

{% block title %}New Blo{% endblock %}

{% block body %}
    <h1>Create new Blo</h1>

    {{ include('blo/_form.html.twig') }}

    <a href="{{ path('blo_index') }}">back to list</a>
{% endblock %}
