{% extends 'base.html.twig' %}

{% block title %}New Bla{% endblock %}

{% block body %}
    <h1>Create new Bla</h1>

    {{ include('bla/_form.html.twig') }}

    <a href="{{ path('bla_index') }}">back to list</a>
{% endblock %}
